@page
@model WebApp.Pages.SamplePages.ControlsModel
@{
    ViewData["Title"] = "Various FOr Controls";
}
@section CustomCSS
    {
    @*
        The file _MyCustomCSS contains valid code that represents css.
        THe partial tag will bring in the contents of the file.
        The section reference of CustomCSS will be place the file contents
            on the layout page in the "named" RenderSection
    *@
    <partial name="_MyCustomCSS" />
}

    <h1>Various Form Controls</h1>
@if (!string.IsNullOrWhiteSpace(Model.Feedback))
{
    <p>@Model.Feedback</p>
}
<section class="setflex">
    <div class=onethird>
        <h3>TextBoxes</h3>
        <form method="post">
            <label>
                Enter an Email
                <input type="email" asp-for="EmailText"
                       placeholder="enter email" />
            </label>
            <br />
            <label>
                Enter an password
                <input type="password" asp-for="PasswordText"
                       placeholder="enter password" />
            </label>
            <br />
            <label>
                Enter an Date
                <input type="date" asp-for="DateText" />
            </label>
            <br />
            <label>
                Enter an Time
                <input type="time" asp-for="TimeText" />
            </label>
            <br />

            <button type="submit" value="textbox" id="theTextButton"
                    name="theTextButton" asp-page-handler="TextBox">
                Text Submit
            </button>
        </form>
    </div>
    <div class=onethird>
        <h3>Radiobuttons CheckBox TextArea</h3>
        <form method="post">
            <label>
                Select favourite meal<br />
            </label>
            @*<input type="radio" value="breakfast" asp-for="Meal"/>
            &nbsp;Breakfast<br/>
            <input type="radio" value="lunch" asp-for="Meal"/>
            &nbsp;Lunch<br/>
            <input type="radio" value="Supper" asp-for="Meal"/>
            &nbsp;Supper<br/>
            <input type="radio" value="Snacks" asp-for="Meal"/>
            &nbsp;Snacks<br/>
            *@
            @foreach (var item in Model.Meals)
            {
                @*  Need a space before the display item *@
                <input type="radio" value="@item" asp-for="Meal" /> @item

                <br />
            }
            <label>
                <input type="checkbox" value="true" asp-for="AcceptanceBox" />
                &nbsp; I agree to terms
            </label>
            <br />
            <label>
                Message
                <textarea rows="5" cols="50" placeholder="enter message"
                          asp-for="MessageBody"></textarea>
            </label>
            <button type="submit" value="radiocheckarea" id="theRadioCheckAreaButton"
                    name="theRadioCheckAreaButton" asp-page-handler="RadioCheckArea">
                Radio/Check/Area Submit
            </button>
        </form>
    </div>
    <div class=onethird>
        <h3>List and Slider</h3>
        <form method="post">
            <label>
                Slect your favourite Ride
                <select asp-for="MyRide">
                    <option value="0">Select ride ...</option>
                    @foreach (var ride in Model.Rides)
                    {
                        <option value="@ride.ValueID">@ride.DisplayText</option>
                    }
                </select>
            </label>
            <br/>
            <label>
                Select your favorite Vacation Spot
                <input type="text" asp-for="VacationSpot"
                       list="VacationChoices" />
                <datalist id="VacationChoices">
                    @foreach (var spot in Model.VacationSpots)
                    {
                        <option value="@spot"></option>
                        //  <option value="@spot">@spot</option>
                    }
                </datalist>
            </label>
            <br/>
            <label>
                Rate the form control reivew (bad < - > good)
                <input type="range" min="0" max="10" step="1" value="5"
                       asp-for="ReviewRating"/>
            </label>
            <button type="submit" value="listslider" id="theListSliderButton"
                    name="theListSliderButton" asp-page-handler="ListSlider">
                Slider Submit
            </button>
        </form>
    </div>
</section>
